.home {
  padding-top: 85px;
  .banners {
    .container {
      max-width: 1451px;
    }
    .swiper-banners {
      .swiper-wrapper {
        padding-bottom: 38px;
      }
      .swiper-slide {
        min-height:    241px;
        width:         100%;
        background:    linear-gradient(114.04deg, #03BF6A 24.98%, #6AE37E 101.83%);
        border-radius: 20px;
        padding:       64px 23px 28px;
        div {
          z-index: 2;
        }
        h1 {
          padding-bottom: 12px;
          color:          #fff;
          text-transform: uppercase;
          font-size:      36px;
          font-weight:    700;
        }
        p {
          width:         50%;
          font-size:     10px;
          font-weight:   400;
          color:         #fff;
          margin-bottom: 12px;
        }
        a {
          min-width:     124px;
          padding:       12px;
          border-radius: 50px;
          font-size:     12px;
        }
        img {
          width:    326px;
          position: absolute;
          left:     40%;
          bottom:   -40%;
          z-index:  1;
        }
      }
      .swiper-pagination {
        span {
          height:           8px;
          width:            8px;
          background-color: #03BF6A;
          margin:           0 10px;
        }
      }
    }
  }
  .action {
    padding: 30px 0 17px;
    .container {
      max-width: 1482px;
    }
    h2 {
      padding-bottom: 21px;
      opacity:        .2;
      text-align:     center;
    }
  }
  .show-all-tariffs {
    padding:     35px 0 14px;
    text-align:  center;
    color:       #6F8F81;
    font-weight: 400;
    .container {
      max-width: 835px;
    }
    .content {
      display:        flex;
      flex-direction: column;
      align-items:    center;
    }
    h2 {
      padding-bottom: 23px;
    }
    a {
      margin-top: 35px;
    }
  }
  .about-company {
    padding: 14px 0 30px;
    .container {
      max-width: 1428px;
    }
    .content {
      display:        flex;
      flex-direction: column;
      align-items:    center;
    }
    .left {
      padding: 0 0 18px 0;
      display: inline-flex;
      margin:  0 auto 36px;
      img {
        max-height: 400px;
      }
      div {
        min-width:       133px;
        min-height:      133px;
        text-transform:  uppercase;
        font-size:       33px;
        font-weight:     700;
        color:           #fff;
        position:        absolute;
        bottom:          0;
        right:           0;
        z-index:         1;
        border-radius:   50%;
        background:      #6AE37E;
        display:         flex;
        align-items:     center;
        justify-content: center;
      }
    }
    .right {
      text-align:     center;
      color:          #6F8F81;
      font-weight:    400;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      h2 {
        padding-bottom: 14px;
      }
      a {
        margin-top: 25px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .home {
    padding-top: 170px;
    .banners {
      .swiper-banners {
        .swiper-wrapper {
          margin-bottom: 50px;
        }
        .swiper-slide {
          min-height: 521px;
          padding:    112px 127px 87px;
          h1 {
            padding-bottom: 26px;
            font-size:      64px;
          }
          p {
            padding-bottom: 29px;
            font-size:      24px;
          }
          a {
            min-width:     277px;
            padding:       28px 8px;
            border-radius: 60px;
            font-size:     24px;
          }
          img {
            width: 801px;
          }
        }
        .swiper-pagination {
          span {
            height: 20px;
            width:  20px;
            margin: 0 30px;
          }
        }
      }
    }
    .action {
      padding: 60px 0 0;
      h2 {
        padding-bottom: 50px;
        opacity:        1;
      }
    }
    .show-all-tariffs {
      padding: 0 0 46px;
      h2 {
        padding-bottom: 20px;
      }
      a {
        margin-top: 50px;
      }
    }
    .about-company {
      padding: 46px 0 48px;
      .content {
        flex-direction:  row;
        justify-content: space-between;
      }
      .left {
        padding: 0 0 39px 0;
        margin:  0 105px 0 0;
        img {
          max-height: 831px;
        }
        div {
          height:    295px;
          width:     295px;
          font-size: 72px;
        }
      }
      .right {
        width:       50%;
        text-align:  left;
        font-size:   24px;
        align-items: start;
        h2 {
          padding-bottom: 14px;
        }
        a {
          margin-top: 25px;
        }
      }
    }
  }
}

@media(min-width: 1440px) {
  .home {
    padding-top: 219px;
    .banners {
      .swiper-banners {
        .swiper-wrapper {
          margin-bottom: 108px;
        }
      }
    }
    .action {
      padding: 167px 0 0;
    }
    .show-all-tariffs {
      padding: 0 0 76px;
      a {
        margin-top: 78px;
      }
    }
    .about-company {
      padding: 76px 0 97px;
    }
  }
}