.home {
  padding-top: 85px;
  .banners {
    .container {
      max-width: 1488px;
    }
    .swiper-banners {
      .swiper-wrapper {
        padding-bottom: 38px;
      }
      .swiper-slide {
        background:    linear-gradient(114.04deg, #03BF6A 24.98%, #6AE37E 101.83%);
        border-radius: 20px;
        padding:       68px 23px 28px;
        div {
          z-index: 2;
        }
        h2 {
          padding-bottom: 8px;
          color:          #fff;
          text-transform: uppercase;
          font-size:      30px;
          font-weight:    700;
          transition:     .3s linear;
        }
        p {
          width:         50%;
          font-size:     10px;
          font-weight:   400;
          color:         #fff;
          margin-bottom: 18px;
        }
        a {
          min-width:     124px;
          padding:       12px;
          border-radius: 50px;
          font-size:     12px;
        }
        img {
          width:    326px;
          position: absolute;
          left:     39%;
          bottom:   -42%;
          z-index:  1;
        }
      }
    }
  }
  .action {
    padding: 34px 0 17px;
    .container {
      max-width: 1680px;
    }
    h2 {
      padding-bottom: 24px;
      opacity:        .2;
      text-align:     center;
    }
  }
  .show-all-tariffs {
    padding:     18px 0 14px;
    text-align:  center;
    font-weight: 400;
    .container {
      max-width: 835px;
    }
    .content {
      display:        flex;
      flex-direction: column;
      align-items:    center;
      font-size:      14px;
      line-height:    1.5;
    }
    h2 {
      padding-bottom: 24px;
    }
    a {
      margin-top: 35px;
    }
  }
  .about-internet {
    padding:    56px 0 28px;
    margin-top: 23px;
    .container {
      max-width: 1483px;
    }
    .content {
      padding:        211px 21px 43px;
      border-radius:  20px;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      font-size:      14px;
      line-height:    1.5;
      img {
        max-width: 347px;
        position:  absolute;
        top:       0;
        right:     -15px;
        z-index:   1;
      }
      h2 {
        color:          #fff;
        padding-bottom: 24px;
        text-align:     center;
      }
      a {
        margin-top: 27px;
      }
    }
  }
  .questions {
    padding: 58px 0 44px;
    .container {
      max-width: 1271px;
    }
    h2 {
      padding-bottom: 15px;
    }
    .questions-select {
      width:         100%;
      background:    #FBFDFC;
      box-shadow:    0 50px 80px rgba(3, 191, 106, 0.07), 0 20px 36.9864px rgba(3, 191, 106, 0.0519173), 0 14px 21.1628px rgba(3, 191, 106, 0.0438747);
      border-radius: 10px;
      padding:       23px 19px 16px;
      margin-bottom: 8px;
      border:        2px solid transparent;
      transition:    .3s linear;
      &:hover {
        border-color: #03BF6A;
      }
      &:active {
        border-color: #006939;
      }
    }
    .question {
      width:           100%;
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      h3 {
        font-size: 18px;
      }
      .icon-select {
        width: 10px;
        &.open {
          transform: rotate(90deg);
        }
      }
    }
    .questions-answer {
      padding-top: 11px;
      line-height: 1.6;
    }
  }
}

@media(min-width: 567px) {
  .home {
    .about-internet {
      .content {
        img {
          max-width: 350px;
          right:     50%;
          transform: translateX(50%);
        }
      }
    }
  }
}

@media(min-width: 768px) {
  .home {
    .about-internet {
      .content {
        padding:     40px 50% 40px 40px;
        align-items: start;
        img {
          max-width: 380px;
          right:     0;
          transform: translateX(0);
        }
      }
    }
    .questions {
      .question {
        .icon-select {
          width: 19px;
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .home {
    padding-top: 170px;
    .banners {
      .swiper-banners {
        .swiper-wrapper {
          margin-bottom: 50px;
        }
        .swiper-slide {
          padding: 88px 127px 87px;
          h2 {
            padding-bottom: 26px;
            font-size:      64px;
          }
          p {
            padding-bottom: 29px;
            font-size:      24px;
          }
          img {
            width: 801px;
            left:  44%;
          }
          a {
            min-width:     277px;
            margin-top:    40px;
            padding:       28px 8px;
            border-radius: 60px;
            font-size:     24px;
          }
        }
      }
    }
    .action {
      padding: 60px 0 0;
      h2 {
        padding-bottom: 56px;
        opacity:        1;
      }
    }
    .show-all-tariffs {
      padding: 70px 0 46px;
      .content {
        font-size: 24px;
      }
      h2 {
        font-size:      46px;
        padding-bottom: 20px;
      }
      a {
        margin-top: 28px;
      }
    }
    .about-internet {
      padding:    45px 0 40px;
      margin-top: 105px;
      .content {
        img {
          max-width: 510px;
        }
      }
    }
    .questions {
      padding: 86px 0 196px;
      h2 {
        padding-bottom: 55px;
        text-align:     center;
      }
      .questions-select {
        width:         100%;
        background:    #FBFDFC;
        box-shadow:    0 100px 80px rgba(3, 191, 106, 0.07), 0 46.233px 36.9864px rgba(3, 191, 106, 0.0519173), 0 26.4535px 21.1628px rgba(3, 191, 106, 0.0438747);
        border-radius: 20px;
        border-width:  4px;
        padding:       37px 32px 31px;
        margin-bottom: 19px;
      }
      .question {
        width:           100%;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        h3 {
          font-size: 32px;
        }
      }
      .questions-answer {
        padding-top: 19px;
        line-height: 1.8;
      }
    }
  }
}

@media(min-width: 1440px) {
  .home {
    padding-top: 227px;
    .banners {
      .swiper-banners {
        .swiper-wrapper {
          margin-bottom: 75px;
        }
      }
    }
    .action {
      padding: 175px 0 0;
      h2 {
        padding: 0 99px 56px;
      }
    }
    .show-all-tariffs {
      padding: 70px 0 76px;
    }
    .about-company {
      padding: 76px 0 97px;
    }
    .about-internet {
      padding: 97px 0 83px;
      .content {
        padding:   88px 55% 71px 121px;
        font-size: 24px;
        img {
          max-width: 710px;
        }
      }
    }
  }
}

@media(min-width: 1800px) {
  .home {
    .about-internet {
      .content {
        img {
          max-width: 962px;
          right:     67px;
        }
        a {
          min-width:  277px;
          margin-top: 66px;
        }
      }
    }
  }
}
