.support {
  padding: 41px 0 0;
  .possibilities {
    .container {
      max-width: 1478px;
      padding:   0;
    }
    h2 {
      text-align:    center;
      margin-bottom: 26px;
    }
    .swiper {
      padding-bottom: 79px;
    }
    .swiper-pagination {
      bottom: 40px;
    }
    .swiper-slide {
      padding: 0 20px;
      .possibility {
        height:           100%;
        padding:          26px 27px 35px;
        color:            #fff;
        background-color: #03BF6A;
        border-radius:    20px;
        text-align:       center;
        box-shadow:       0 46.233px 36.9864px rgba(3, 191, 106, 0.0519173),
                          0 26.4535px 21.1628px rgba(3, 191, 106, 0.0438747),
                          0 16.0571px 12.8457px rgba(3, 191, 106, 0.0377964),
                          0 9.67509px 7.74008px rgba(3, 191, 106, 0.0322036),
                          0 5.38772px 4.31018px rgba(3, 191, 106, 0.0261253),
                          0 2.31722px 1.85378px rgba(3, 191, 106, 0.0180827);
        transition:       .3s linear;
        font-size:        14px;
        &:hover {
          background-color: #fff;
          color:            #7A8781;
          h3 {
            color: #324035;
          }
        }
      }
      .circle {
        border-radius:    50%;
        background-color: #03BF6A;
        margin-bottom:    17px;
        display:          inline-flex;
      }
      img {
        width:  65px;
        margin: 8px;
      }
      h3 {
        font-size:     18px;
        color:         #fff;
        margin-bottom: 10px;
        transition:    .3s linear;
      }
    }
  }
  .help {
    padding: 0 0 42px;
    .container {
      max-width: 1502px;
    }
    h2 {
      margin: 0 0 37px;
    }
    .content {
      gap:       15px;
      display:   flex;
      flex-wrap: wrap;
    }
    a {
      font-size:     14px;
      padding:       15px 28px;
      background:    #F2F8F8;
      border-radius: 100px;
      color:         #03BF6A;
      &:hover {
        color:      #F2F8F8;
        background: #03BF6A;
      }
      &:active {
        background: #324035;
      }
    }
  }
}

@media(min-width: 567px) {
  .support {
    .possibilities {
      .swiper-slide {
        .possibility {
          font-size: 16px;
        }
        .circle {
        }
        h3 {
          font-size: 20px;
        }
      }
    }
    .help {
      a {
        font-size: 18px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .support {
    padding: 85px 0 43px;
    .possibilities {
      h2 {
        text-align: start;
        margin:     0 28px 91px;
      }
      .swiper-pagination {
        bottom: 0;
      }
      .swiper-slide {
        .possibility {
          padding:       49px 27px 43px;
          border-radius: 40px;
          line-height:   1.4;
          font-size:     20px;
        }
        .circle {
          margin-bottom: 24px;
        }
        h3 {
          font-size:     24px;
          margin-bottom: 2px;
        }
      }
    }
    .help {
      padding: 49px 0 82px;
      h2 {
        margin: 0 14px 53px;
      }
      .content {
        gap: 26px;
      }
      a {
        font-size: 24px;
        padding:   26px 63px;
      }
    }
  }
}