.tariffs-page {
  padding: 81px 0 0;
  .top, div {
    .container {
      max-width: 1504px;
    }
  }
  h3 {
    padding-bottom: 25px;
    text-align:     center;
    font-weight:    700;
    font-size:      19px;
  }
  &.internet {
    h3 {
      span {
        color:          #03BF6A;
        text-transform: uppercase;
      }
    }
  }
  .description {
    margin-bottom: 42px;
    .container {
      max-width: 996px;
      padding:   0;
    }
    .description-content {
      padding:          27px 24px 38px;
      display:          flex;
      align-items:      start;
      gap:              8px;
      border-radius:    15px;
      background-color: #F2F8F8;
      div {
        border-radius:    50%;
        color:            #fff;
        background-color: #03BF6A;
        display:          flex;
        justify-content:  center;
        align-items:      center;
        padding:          3px 10px;
        font-size:        16px;
      }
    }
    ul {
      font-size:   14px;
      font-weight: 400;
      color:       #7A8781;
    }
    li {
      padding-bottom: 15px;
      line-height:    1.3;
      color:          #7A8781;
    }
  }
  &.all {
    .connection-tv {
      padding: 0 0 82px;
    }
  }
}

@media(min-width: 567px) {
  .tariffs-page {
    h3 {
      font-size: 28px;
    }
    .description {
      ul {
        font-size: 17px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .tariffs-page {
    &.internet {
      .top {
        .buttons {
          padding-bottom: 106px;
        }
      }
    }
    .description {
      margin-bottom: 67px;
      .description-content {
        padding: 42px 24px 23px;
        gap:     22px;
        div {
          padding:   4px 12px;
          font-size: 18px;
        }
      }
      ul {
        font-size: 20px;
      }
      li {
        line-height: 1.5;
      }
    }
    h3 {
      padding:    35px 0 40px;
      font-size:  40px;
      text-align: start;
    }
  }
}

@media(min-width: 1200px) {
  .tariffs-page {
    padding: 184px 0 0;
  }
}

@media(min-width: 1440px) {
  .tariffs-page {
    h3 {
      padding: 73px 0 89px;
    }
    .top {
      .selected {
        padding: 0;
        p {
          font-size: 24px;
        }
      }
    }
    .flex {
      .wrapper {
        display:         flex;
        flex-wrap:       wrap;
        justify-content: space-between;
      }
    }
    &.all {
      .connection-tv {
        padding: 126px 0 130px;
      }
    }
  }
}