* {
  outline:    none;
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

html,
body {
  width: 100%;
}

body {
  min-height:     100%;
  display:        flex;
  flex-direction: column;
  font-family:    'MacPaw Fixel', sans-serif;
  color:          #324035;
}

main {
  flex: 1 0 auto;
}

section {
  position: relative;
  top:      0;
  left:     0;
  z-index:  0;
}

img, svg, iframe, video {
  width: 100%;
}

a {
  text-decoration: none;
  cursor:          pointer;
  transition:      .3s linear;
  &:hover {
    color: #029c56;
  }
  &:active {
    color: #006939;
  }
}


.container {
  max-width: 1920px;
  width:     100%;
  padding:   0 20px;
  margin:    0 auto;
}

h2 {
  font-size:   28px;
  font-weight: 700;
  color:       #324035;
}

h3 {
  font-weight: 600;
  font-size:   24px;
  color:       #324035;
}

p {
  font-weight: 400;
  font-size:   14px;
  line-height: 1.5;
}

li {
  list-style: none;
}

button, .btn {
  cursor:          pointer;
  display:         inline-flex;
  justify-content: center;
  align-items:     center;
  white-space:     nowrap;
  user-select:     none;
  border:          2px solid #03BF6A;
  font-weight:     700;
  transition:      .3s linear;
}

input, select {
  width:         100%;
  padding:       14px 27px;
  overflow:      hidden;
  text-overflow: ellipsis;
  cursor:        pointer;
  border:        1px solid #d2dbdb;
  border-radius: 40px;
  font-size:     14px;
  font-weight:   500;
  margin-bottom: 10px;
  transition:    .3s linear;
  &:hover {
    border: 1px solid #03BF6A;
  }
}

.btn-black {
  background-color: #324035;
  border-color:     #324035;
  color:            rgba(#fff, .8);
  &:hover {
    color:            #324035;
    background-color: #fff;
  }
  &:active {
    color:        #006939;
    border-color: #006939;
  }
}

.btn-outlined {
  color:            #03BF6A;
  background-color: #fff;
  &:hover {
    color:            #fff;
    background-color: #03BF6A;
  }
  &:active {
    background: #006939;
  }
}

.btn-full {
  color:            #fff;
  background-color: #03BF6A;
  &:hover {
    color:            #03BF6A;
    background-color: #fff;
  }
  &:active {
    color:        #006939;
    border-color: #006939;
  }
}

.btn-small {
  min-width:     101px;
  padding:       10px;
  border-radius: 18px;
  font-size:     9px;
}

.btn-medium {
  min-width:     145px;
  padding:       7px;
  border-radius: 50px;
  font-size:     12px;
}

.btn-big {
  min-width:     272px;
  padding:       17px;
  border-radius: 100px;
  font-size:     16px;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #324035;
}

.color-gray {
  color: #7A8781;
}

.color-green {
  color: #03BF6A;
}

.bg-green {
  background: linear-gradient(114.04deg, #03BF6A 24.98%, #6AE37E 101.83%);
}

.bg-gray {
  background: #F2F8F8;
}

.cover {
  object-fit: cover;
}

.d-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.p-relative {
  position: relative;
  top:      0;
  left:     0;
  z-index:  0;
}

.hidden {
  overflow: hidden;
}

.swiper {
  &-slide {
    position: relative;
    top:      0;
    left:     0;
    z-index:  0;
  }
  & &-pagination.swiper-pagination-bullets {
    bottom: 0;
    span {
      cursor:           pointer;
      height:           8px;
      width:            8px;
      background-color: #03BF6A;
      margin:           0 10px;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size:   20px;
    line-height: 1.5;
  }

  button, .btn {
    border-width: 4px;
  }

  input, select {
    padding:       17px 32px;
    border:        2px solid #d2dbdb;
    border-radius: 40px;
    color:         #324035;
    font-size:     24px;
    font-weight:   500;
    margin-bottom: 25px;
    &:hover {
      border: 2px solid #03BF6A;
    }
  }

  .btn-small {
    min-width:     141px;
    padding:       14px;
    border-radius: 25px;
    font-size:     12px;
  }

  .btn-medium {
    min-width:     167px;
    padding:       8px;
    border-radius: 100px;
    font-size:     16px;
  }

  .btn-big {
    min-width: 385px;
    font-size: 24px;
  }

  .swiper {
    & &-pagination.swiper-pagination-bullets {
      span {
        height: 20px;
        width:  20px;
        margin: 0 30px;
      }
    }
  }
}
